{% extends "base.html"%}
{% block nav %}
    <nav>
        <a href="/">Voltar</a>

    </nav>
    {% endblock %}
    <title>{%block title %} {% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href= "/validarcnpj">Validar CPF</a>
    </nav>
    {% block content %}
    <h1> Validar CNPJ</h1>
    <form action ="/validarcnpj" method="POST"> <br>
        <label for="cnpj">CNPJ</label> <br>
        <input type ="text" name="cnpj" id="cnpj"> <br>
        <button type="submit">Validar</button>

    </form>
    {% endblock %}

</body>
</html>